

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  
  <!--menu-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
    
      <li class="nav-item dropdown">
        <span class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true">
          <img src="../../assets/images/menu.png" class="menuIcon"/>
        </span>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Painel</a>
          <a class="dropdown-item" href="grafico">Grafico</a>
          <a class="dropdown-item" href="simulador">Simulador</a>
        </div>
      </li>
    
    </ul>
  </div>

  <!--Logo-->
  <a class="logo">
    <img src="../../assets/images/logo.png" />
    {{title}}
  </a>

</nav>
