<app-navbar></app-navbar>

<div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title" style="padding-left: 40%;" >Simulador de Economias</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="padding-left: 38%; font-size: 10px;">Descubra quanto deve poupar para alcançar o tesouro desejado.</h6>
      


      <form (ngSubmit)="simular(valor.value , tempo.value , unidade.value)">
        <div class="form-group">
          <label style="font-size: 14px; font-weight: bold;">Tesouro</label>
          <input type="text" class="form-control">
          <small class="form-text text-muted">Exemplo: casa, carro, viagem.</small>
        </div>

        <div class="form-group">
          <label style="font-size: 14px; font-weight: bold;" >Valor</label>
          <input type="number" class="form-control" #valor>
          <small class="form-text text-muted">Observação: digite o valor sem pontuações - Exemplo (10000).</small>
        </div>

        
        <div class="form-group" >
            <label style="font-size: 14px; font-weight: bold;">Tempo</label>
            <input type="number" class="form-control" #tempo>
            <select class="form-control form-control-sm" style="margin-top: 1%;" #unidade>
                <option>ano</option>
                <option>mês</option>
            </select>
        </div>
        

        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <p>
          <button type="submit" style="margin-left: 47%; margin-top: 2%;" class="btn btn-primary">Simular</button>
        </p>  

      </form>
    </div>
  </div>
