<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  
  <!--menu-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
    
      <li class="nav-item dropdown">
        <span class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true">
          <img src="../../assets/images/menu.png" class="menuIcon"/>
        </span>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Painel</a>
          <a class="dropdown-item" href="#">Renda</a>
          <a class="dropdown-item" href="#">Gastos</a>
          <a class="dropdown-item" href="#">Grafico</a>
          <a class="dropdown-item" href="#">Sonho</a>
        </div>
      </li>
    
    </ul>
  </div>

  <!--Logo-->
  <a class="logo">
    <img src="../../assets/images/logo.png" />
    Meu Trocado
  </a>

</nav>


<!--div circular-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="master">
    <div></div>
 </div>


 <!--categorias-->
 <table class="table table-borderless table-condensed tableCategorias">
    
    <tr>
      <td><img src="../../assets/images/transporte.png" class="categoria"/></td>
      <td><img src="../../assets/images/almoco.png" class="categoria"/></td>
      <td><img src="../../assets/images/casa.png" class="categoria"/></td>
    </tr>

    <tr>
      <td><img src="../../assets/images/comida.png" class="categoria"/></td>
      <td><img src="../../assets/images/academia.png" class="categoria"/></td>
      <td><img src="../../assets/images/carro.png" class="categoria"/></td>
    </tr>

 </table>

 <table class="table table-borderless table-condensed tableCategorias2">
    
  <tr>
    <td><img src="../../assets/images/higiene.png" class="categoria"/></td>
    <td><img src="../../assets/images/animal.png" class="categoria"/></td>
    <td><img src="../../assets/images/roupa.png" class="categoria"/></td>
  </tr>

  <tr>
    <td><img src="../../assets/images/entretenimento.png" class="categoria"/></td>
    <td><img src="../../assets/images/escola.png" class="categoria"/></td>
    <td><img src="../../assets/images/saude.png" class="categoria"/></td>
  </tr>

</table>

<!--restante-->
<span href="#" class="restante list-group-item list-group-item-warning">Saldo:</span>

<!--botoes renda e gasto-->
<div class="divBotoes">
    <button type="button" class="btn btn-success btn-circle btn-lg">
      <img src="../../assets/images/add.png"/>
    </button>
    
    <button type="button" class="btn btn-danger btn-circle btn-lg">
        <img src="../../assets/images/remove.png"/>
    </button>
</div>




