.menuIcon{
    width: 32px;
    height: 32px;
}

.logo{
    position:absolute;
    left:45%;
    margin-left:-45px;
}

.master {
	border: none;
	max-width: 500px;
    font-size: 0;
    position:absolute;
    left:39%;
    margin-left:-39px;
    margin-top: 5%; 
}

.master div {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: #4682B4;
    font-size: 40px;
    opacity: 0.60;
}


body{
    color: white;
}

.tableCategoriasLeft{
   width: 100%;
   float: left;
   position: absolute;
   top: 25%; 
   right: 3%;
}

.tableCategoriasLeft tbody tr td img:hover{
    opacity: 0.30;
}

.table-borderless td,
.table-borderless th {
    border: 0;
    
}

.collapsedRendaButton{
    float: left;
    position: absolute;
    top: 80%;
    left: 43%;
    
}
